<app-system></app-system>
<br><br>

<div class="row d-flex justify-content-center contenedorLista">

    <h5>Búsqueda por <i>Categoria</i></h5>
    <div class="col-12 d-flex justify-content-center contenedorLista">
        <select [(ngModel)]="queryCategory" (ngModelChange)="getProductos()" name="query">
            <option disabled value="null">Elija</option>
            <option value="frio">Frio</option>
            <option value="desayuno">Desayuno</option>
            <option value="almacen">Almacen</option>
            <option value="limpieza">Limpieza</option>
            <option value="bebida">Bebida</option>
            <option value="almacen">Fruta</option>
            <option value="higiene personal">Higiene Persona</option>
        </select>
    </div>

    <div class="col-lg-6 col-sm-12 col-md-10 listElement" *ngFor="let item of productsList">
        <h5>{{item.name}}</h5>
        <ul>
            <li>Cantidad: {{item.quantity}}</li>
            <li>Minimo: {{item.minQuantity}}</li>
            <li>Categoria: {{item.category}}</li>

            <div class="row">
                <div class="col-sm-4 col-md-10">
                    <button (click)="sumarUno(item)" class="btn btn-primary espaciarbotones">Sumar uno</button>
                    <button (click)="restarUno(item)" class="btn btn-primary espaciarbotones">Quitar uno</button>
                </div>
                <div class="col-sm-4 col-md-2">
                    <button (click)="eliminar(item)" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </ul>
    </div>
</div>