<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/system/addproduct">Agregar Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/system/listproduct">Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/system/">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>