<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-sm-12">
        <ul class="nav d-flex justify-content-center">
            <li class="nav-item espaciarbotones">
                <a class="nav-link btn btn-secondary" href="/system/addproduct">
                    Nuevo producto
                </a>
            </li>
            <li class="nav-item espaciarbotones">
                <a class="nav-link btn btn-secondary" href="/system/listproduct">
                    Listado
                </a>
            </li>
        </ul>
    </div>
</div>